@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

/* @font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
} */

body {
	font-family: Lato;
}
h1 {
	font-size: 46px;
	font-weight: 900;
	color: #1E212C;
	line-height: 60px;
}

h2 {
	font-size: 20px;
	line-height: 150%;
	font-weight: 700;
	color: #1E212C;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}

.list {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	padding: 25px;
	list-style: disc;
}